.App {
  display: flex; /* or inline-flex */
  justify-content: center;
}

.container {
  display: flex; /* or inline-flex */
}

.Temp {
  background-color: lightgrey;
  border-radius: 10px;
  margin-right: 1em;
  margin-bottom: 2em;
}

.centeredTemp {
  display: flex; /* or inline-flex */
  justify-content: center;
  font-size: 150%;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
}

/* div {
  background-color: lightgrey;
} */

.alarmModule {
  width: 100px;
  justify-content: center;
  margin-top: 15px;
  margin-left: 20px;
}

.alarm {
  display: flex;
  height: 10%;
}

img {
  display: block;
  margin: auto;
}

.stupidButton {
  margin-left: 0.7em;
}
